body {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}

button {
  font-size: 20px;
  padding: 12px 15px 12px 15px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1;
}

.year {
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.setSymbol {
  width: 30px;
  height: auto;
  margin-left: 20px;
  transform: translateY(7px);
}

.card {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 10px;
  align-self: flex-start;
}
.cardIMGContainer {
  width: 100%;
  height: auto;
}
.cardIMG {
  width: 100%;
  height: auto;
  border-radius: 15px;
  /* box-shadow: 5px 5px 10px 2px rgb(182, 182, 182); */
}



#siteWrap {
  border: 0px solid green;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 100px;
}

#header {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
}

#searchHeader {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: auto;
  background-color: white;
  border: 0px solid red;
  z-index: 10;
  /* box-shadow:0px 1px 1px #d3d3d3; */
}

#headerText {
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  border: 0px solid red;
}

#searchContainer {
  border: 0px solid red;
  width: 98%;
  height: 60px;
  margin: auto;
  margin-top: 20px;
}

#input {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  margin-top: 0px;
  border: 1px solid #ddd;
  font-size: 16px;
  padding: 12px 0px 12px 10px;
}

#cardContainer {
  border: 0px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 160px;
}

#setList {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  border: 0px solid red;
  width: 100%;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 100px;
}
.set {
  /* border: 1px solid black; */
  width: auto;
  height: auto;
  flex-grow: 1;
  margin: 10px;
}

#loadMore {
  border: 0px solid black;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 00px;
}

@media only screen and (min-width: 500px) {
  .card {
    margin: 10px;
    max-width: 320px;
  }

  #searchHeader {
    flex-direction: row;
    justify-content: flex-start;
  }

  #headerText {
    width: auto;
    margin: 20px;
  }

  #searchContainer {
    width: 30%;
    margin-left: 0;
  }

  #cardContainer {
    width: 100%;
    margin-top: 100px;
  }

  #loadMore {
    margin-bottom: 100px;
  }
}